################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/Flex/.vs
/Source/Flex/Flex.LVA.LexerAndParser/obj
/Source/Flex/Flex.LVA.LexerAndParser/bin
/Source/Flex/Flex.LVA.LexerAndParser.Tests/obj
/Source/Flex/Flex.LVA.LexerAndParser.Tests/bin
/Source/Flex/Flex.LVA.Extensions/bin
/Source/Flex/Flex.LVA.Extensions/obj
/Source/Flex/Flex.LVA.Shared/bin
/Source/Flex/Flex.LVA.Shared/obj
/Source/Flex/Flex.LVA.LexerAndParser.Executable/bin
/Source/Flex/Flex.LVA.LexerAndParser.Executable/obj
/Source/Flex/Flex.LVA.Communication/bin
/Source/Flex/Flex.LVA.Communication/obj
/Source/Flex/Flex.LVA.AccessPoint/bin/Debug/net7.0
/Source/Flex/Flex.LVA.AccessPoint/obj
/Source/Flex/Flex.LVA.Communincation.RPC/obj/Debug/net7.0
/Source/Flex/Flex.LVA.AccessPoint/bin/x86
*.user
/Source/Flex/Flex.LVA.AccessPoint/bin/x64/Debug/net7.0
/Source/Flex/Flex.LVA.Logging/bin/Debug/net7.0
/Source/Flex/Flex.LVA.Logging/obj
/Source/Flex/Flex.LVA.Logging/bin
/Source/Flex/Flex.sln.DotSettings.user
/Source/Flex/Flex.LVA.UI/ClientApp/.angular/cache/14.1.3
/Source/Flex/Flex.LVA.UI/package-lock.json
/Source/Flex/Flex.LVA.UI/ClientApp/.angular/cache/14.2.10
/Source/Flex/Flex.LVA.UI/ClientApp/package-lock.json
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/RegistrationManager.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/logger.service.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/registration.service.js.map
/Source/Flex/Flex.LVA.AccessPoint/bin/Release/net7.0
/Source/Flex/Flex.LVA.UI/ClientApp/.angular/cache/
/Source/Flex/Flex.LVA.AccessPoint/bin/x64/Release/net7.0
/Source/Flex/Flex.LVA.UI/ClientApp/.angular/cache/15.2.6
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/top-menu/TopMenuEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/table-view/TableEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/find-view/FindEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/top-menu/TopMenuEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/table-view/TableEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/find-view/FindEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/tracer.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/tracer.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/engine.service.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/engine.service.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/column-options/ColumnEvents.ts
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/column-options/ColumnEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/column-options/ColumnEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/column-options/ColumnEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/filter-view/FilterEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/filter-view/FilterEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/FacsAndConsts.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/FacsAndConsts.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/common/logdefinition.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/common/logdefinition.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/common/enums.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/common/enums.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/parser-setup-view/ParserEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/parser-setup-view/ParserEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/messagehelper.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/messagehelper.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/generated/EngineService_pb.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/generated/EngineService_pb.d.ts
/Source/Flex/Flex.LVA.UI/ClientApp/src/interfaces/TableInterfaces.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/interfaces/TableInterfaces.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/userworkbox.service.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/userworkbox.service.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/common/userworkboxdata.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/common/userworkboxdata.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/objectutils.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/objectutils.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/user-settings/UserSettingsEvents.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/app/user-settings/UserSettingsEvents.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/fileutils.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/fileutils.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/constants.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/constants.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/testdataloader.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/utils/testdataloader.js
/Source/Flex/SyslogDecode/bin
/Source/Flex/SyslogDecode/obj
/Source/Flex/obj/desktop/win/bin
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/uisession.service.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/uisession.service.js
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/theme-service.ts.js.map
/Source/Flex/Flex.LVA.UI/ClientApp/src/services/theme-service.ts.js
