<p-tabView orientation="left">
  <p-tabPanel rightIcon="pi pi-book">
    <div class="paddedtabcontent stack-vertical">
      <h2>Investigations</h2>
      <app-investigation-view></app-investigation-view>
    </div>
  </p-tabPanel>
  <p-tabPanel rightIcon="pi pi-search">
    <div class="paddedtabcontent stack-vertical">
      <h2>Find</h2>
      <app-find-view></app-find-view>
    </div>
  </p-tabPanel>
  <p-tabPanel rightIcon="pi pi-filter-fill">
    <div class="paddedtabcontent  stack-vertical">
      <h2>Column Filters</h2>
      <app-filter-view></app-filter-view>
    </div>
  </p-tabPanel>
  <p-tabPanel rightIcon="pi pi-bars">
    <div class="paddedtabcontent stack-vertical">
      <h2>Column Options</h2>
      <app-column-options></app-column-options>
    </div>
  </p-tabPanel>
</p-tabView>
